{% extends 'base.html' %} 

{% block content %}

{% load widget_tweaks %}  <!-- Djangoのwidget_tweaksをロード -->
{% load static %}  <!-- 静的ファイルをロード -->

<div class="max-w-md mx-auto px-4 py-8 bg-white shadow-md rounded-lg">
    <h1 class="text-2xl font-bold text-custom-purple mb-6">スコア登録</h1>
    
    {% if message %}
        <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-6" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    
    <!-- スコア登録フォーム -->
    <form method="POST" action="{% url 'tracker:new_score_create' %}" class="space-y-4">
        {% csrf_token %}
        
        <!-- スコア種類選択フィールド -->
        <div class="space-y-2">
            <label for="{{ scoreForm.score_type.id_for_label }}">{{ scoreForm.score_type.label }}</label>
            {{ scoreForm.score_type|add_class:"form-select w-full px-4 py-2 text-lg border border-gray-300 rounded-lg focus:ring-2 focus:ring-purple-500 focus:border-purple-500 bg-gray-50" }}
            {% if scoreForm.score_type.errors %}
                <div class="mt-1 text-sm text-custom-pink">
                    {{ scoreForm.score_type.errors }}
                </div>
            {% endif %}
        </div>
        
        <!-- スコア入力フィールド -->
        <div class="space-y-2">
            <label for="{{ scoreForm.score.id_for_label }}">{{ scoreForm.score.label }}</label>
            {{ scoreForm.score|add_class:"form-input w-full px-4 py-2 text-lg border border-gray-300 rounded-lg focus:ring-2 focus:ring-purple-500 focus:border-purple-500 bg-gray-50" }}
            {% if scoreForm.score.errors %}
                <div class="mt-1 text-sm text-custom-pink">
                    {{ scoreForm.score.errors }}
                </div>
            {% endif %}
        </div>
        
        
        <!-- 送信ボタン -->
        <button type="submit" class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-custom-purple hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom-purple transition duration-300">
            登録する
        </button>
    </form>

    <!-- スコア一覧ページへのリンク -->
    <div class="mt-6 text-center">
        <a href="{% url 'tracker:user_scores' %}" class="text-custom-purple hover:text-custom-pink transition duration-300">
            スコア一覧に戻る
        </a>
    </div>
</div>

{% block extra_js %}
<script src="{% static 'js/numpad.js' %}"></script>
{% endblock %}

{% endblock %}
